<!-- footer.html -->
<div class="container">
  <footer class="py-5">
    <!-- Navegación en el footer -->
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>

    <!-- Formulario de suscripción al boletín -->
    <div class="col-md-5 offset-md-1 mb-3">
      <form>
        <h5>Subscribe to our newsletter</h5>
        <p>Monthly digest of what's new and exciting from us.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email address</label>
          <input id="newsletter1" type="email" class="form-control" placeholder="Email address">
          <button class="btn btn-primary" type="button">Subscribe</button>
        </div>
      </form>
    </div>

    <!-- Sección de redes sociales y texto de derechos reservados -->
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-center text-body-secondary">&copy; 2024 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex justify-content-center">
        <!-- Enlace de Twitter -->
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://instagram.com" target="_blank">
            <i class="bi bi-twitter-x" style="font-size: 24px;"></i>
          </a>
        </li>
        <!-- Enlace de Instagram -->
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://instagram.com" target="_blank">
            <i class="bi bi-instagram" style="font-size: 24px;"></i>
          </a>
        </li>
        <!-- Enlace de Facebook -->
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://facebook.com" target="_blank">
            <i class="bi bi-facebook" style="font-size: 24px;"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>
<!-- footer End -->

